.navbar {
    background-color: #1976d2; /* 💙 צבע רקע */
}

.navbar-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    flex-grow: 1;
    cursor: pointer;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 10px; /* רווח בין הכפתורים */
}
