.navbar {
    background: linear-gradient(135deg, #672f1e, #534025);
    background-size: 200% 200%;
    animation: navbarFlow 10s ease infinite;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

}



.navbar-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title {
    flex-grow: 1;
    cursor: pointer;
    font-weight: bold;
    color: #a51818;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transition: color 0.3s ease;
}

.navbar-title:hover {
    color: #0c0c05;
}

.navbar-links {
    display: flex;
    gap: 10px;
}

.navbar-links button {
    font-weight: bold;
    background: transparent;
    color: #a51717;
    transition: color 0.3s ease, transform 0.2s ease;
}

.navbar-links button:hover {
    color: #0e0707;
    transform: scale(1.05);
}
