body {
  background: linear-gradient(135deg, #FFF3E0, #FFD180, #FF8A65, #F4511E);
  background-size: 400% 400%;
  animation: gradientFlow 12s ease infinite;
  font-family: 'Heebo', sans-serif;
  color: #3E2723;
}

button {
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  background-color: #D4AF37 ;
  color: #C62828 ;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e64a19;
}
